* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Signika", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333;
  }
  .ancho {
    max-width: 1200px;
    margin: auto;
  }

 header {
    background-color: white;
  }

 .contenedor_menu_superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1120px;
    margin: auto;
    
    /* border: 1px blue solid; */
    
  }

 .menu_superior_izquierdo ul {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:flex-start;
  align-items:center;
  
  /* border: 1px red solid; */
}

 .btn_nike_logoJ ul li {
  display: inline-block;
  text-decoration: none;
  
}

 .btn_nike_logoJ .botones_nike {
  display: inline-block;
  color: black;
  text-decoration: none;
  border: 1px gray solid;
  border-top:0px;
  margin-top:0px;
  margin-inline: 3px;
  padding-block: 9px;
  padding-inline: 30px;
  height: 100%;
}

 .jordan_logo{
  display: inline-block;
  text-decoration: none;
  border: 1px gray solid;
  border-top:0px;
  padding-left: 5px;
  padding-block: 4.5px;
  width: 35px;
  height: 100%;
  margin-top:0px;
}

 .menu_superior_derecho ul {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:flex-start;
  align-items:center;
}

.menu_superior_derecho ul li {
  display: inline-block;
  padding-inline: 2px;
}

.menu_superior_derecho .seccion_junta {
  padding: 0px;
  display: inline-block;
  color: black;
  text-decoration: none;
}

.menu_superior_derecho .seccion_separada {
  margin-left: 15px;
  margin-right: 10px;
  display: inline-block;
  color: black;
  text-decoration: none;
}

.menu_superior_derecho ul li a figure img{
  width: 100%;
  display: inline-block;
}


.Contenedor_menu_inferior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: auto;
    margin-top: 10px;
}

.menu_inferior {
    text-align: center;
}

.menu_inferior ul {
    list-style: none;
    max-width: 750px;
  }
  .menu_inferior ul li {
    display: inline-block;
    font-weight: 750;
  }
  .menu_inferior ul li a {
    padding: 10px;
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 15px;
  }

.busqueda {
    width: 150px;    
}
.busqueda input {
    width: 100%;
    padding: 5px 0px;
    border: 1px gray solid;
    padding-left: 8px;
    font-size: 16px;
}

.barra_divisora {

    height: 50px;
    border: 1px #DADADA solid;
    background-color: #F7F7F7;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}


  .foto_creelo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .foto_creelo img {
    width: 100%;
    max-width: 400px;
  }

  .foto_creelo .imagen_separada {
    margin-inline: 10px;
  }

  .banner {
    text-align: center;
  }
  .banner h2{
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .banner p{
    padding-bottom: 20px;
  }

  .banner a{
    background-color: #333;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
  }


  .foto_volamos {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:stretch;
    align-content:stretch;
    height:100vh;
  }

.foto_volamos {
    margin-top: 40px;
}

.foto_volamos img {
  display: inline-block;
  min-height: 300px;
}

.foto_volamos .imagen_izquierda {
    height: 100%;
    width: 100%;
}

.foto_volamos .imagen_derecha {
    height: 98%;
    width: 100%;
  }

.banner_volamos{
    text-align: center;
  }

.banner_volamos h2{
  padding-top: 25px;
  padding-bottom: 20px;
  }
.banner_volamos p {
  padding-block: 5px;
}
.btn_comprar{
  padding-top:20px;
}
.banner_volamos a{
  padding-top: 10px;
  background-color: #333;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

  .fondo {
    background-image: url(imagenes/calltoaction.jpg);
    margin-top: 30px;
    background-repeat: no-repeat;
    height: 450px;
  }

  .info_anuncio_seccion_3 {
    padding-top: 50px;
    padding-left: 50px;
    color: white;
    line-height: 40px;
  }
  .info_anuncio_seccion_3 a {
    background-color: white;
    background-size: cover;
    border-radius: 2px;
    color: #333;
    padding: 10px 20px;
    margin-right: 8px;
    text-decoration: none;
  }

.botones_final{
  padding-top:10px;
}
  footer {
    background-color: #222222;
    font-weight: bold;
    color: white;
    padding: 15px;
  }